{% extends 'core/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <h1 class="text-2xl font-medium text-center dark:text-white ">Contact us</h1>

<div class="sm:flex  justify-evenly">
    <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100">
        <h2 class="text-xl font-medium mb-3 ">
            Customer Support
        </h2>
        <p>
        Phone: +256-772-810-560 <br>
        Email: rivangushu@gmail.com <br>
        </p>
    </div>
    <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100">
        <h2 class="text-xl font-medium mb-3">
            Seller Inquiries
        </h2>
        <p>
            Email: amalgsofts@gmail.com <br>

        </p>
    </div>
    <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100">
        <h2 class="text-xl font-medium mb-3">
            Corporate Headquarters
        </h2>
        <p>
            AMALGSOFT <br>
            Banda, Kyambogo <br>
            City ; Kampala <br>
            Country : Uganda <br>
        </p>
    </div>
    <div class="p-6 m-6 rounded-xl shadow-xl bg-gray-100">
        <h2 class="text-xl font-medium mb-3">
            Social Media
        </h2>
            <a href="#">Facebook</a><br>
            <a href="#">Twitter</a><br>
            <a href="#">LinkedIn</a><br>
    </div>


</div>



{% endblock %}